#1  How-to-count-distance-to-the-previous-zero

In [4]:
import pandas as pd
import numpy as np
import os

In [18]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
l =  df['X'].tolist()
counter = 0
distance = []
for element in l:
    if element != 0:
        counter += 1
    else:
        counter = 0
    distance.append(counter)
distance
df['Y']=pd.DataFrame({'Y':distance})
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

#2 Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [19]:
import random 
random_series=[]  
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
bd = CustomBusinessDay(calendar=USFederalHolidayCalendar())
dateindex=pd.DatetimeIndex(start='2015-01-01',end='2015-12-31', freq=bd)
random.randint(1, 10)
for val in range (len(dateindex)):    
    random_series.append(random.randrange(1,101,1)) 
random_series
df_rand=pd.DataFrame(random_series,dateindex)
df_rand.columns = ['RandomNumber']
df_rand.index.name = 'Datetime'
df2=df_rand
print('2) DatetimeIndex that contains each business day of 2015: /n',df_rand.head())

2) DatetimeIndex that contains each business day of 2015: /n             RandomNumber
Datetime
2015-01-02            89
2015-01-05            80
2015-01-06            55
2015-01-07            92
2015-01-08             3

3) Find the sum of the values in s for every Wednesday

In [20]:
df_rand.reset_index(inplace=True)
df_rand['weekday'] = df_rand['Datetime'].dt.weekday_name
#bywednesday=df_rand.groupby('weekday')
#print(bywednesday.sum())
bywed=df_rand.loc[df_rand['weekday']=='Wednesday']
print('3) Find the sum of the values in s for every Wednesday \n', bywed.sum())

3) Find the sum of the values in s for every Wednesday
 RandomNumber    2423
dtype: int64

4) Average For each calendar month

In [21]:
df_rand['month'] = df_rand['Datetime'].dt.month
bymonth=df_rand.groupby('month')
print('4) Average For each calendar month \n',bymonth.mean())

4) Average For each calendar month
        RandomNumber
month
1         54.100000
2         49.000000
3         49.681818
4         54.409091
5         49.600000
6         58.954545
7         52.409091
8         60.333333
9         48.619048
10        44.809524
11        42.315789
12        52.181818

5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [22]:
df2['month'] = df2['Datetime'].dt.month
df2['fourmonth']=np.where(df2['month'] <=4, 1,(np.where(df2['month'] <=8,2,3)))
print('5) Maximum value of Random numbers in each group of subsequent 4 months are : \n',df2.groupby(['fourmonth'], sort=False)['RandomNumber'].max())

5) Maximum value of Random numbers in each group of subsequent 4 months are :
 fourmonth
1    100
2     99
3     98
Name: RandomNumber, dtype: int64